In [ ]:
for i in range (4):
  x = int(input("Digite um número para mutiplicar 12: "))
  r = x*12
  print("O resultado é",r)

Digite um número para mutiplicar 12: 2
O resultado é 24
Digite um número para mutiplicar 12: 4
O resultado é 48
Digite um número para mutiplicar 12: 6
O resultado é 72
Digite um número para mutiplicar 12: 5
O resultado é 60

In [ ]:
for numero in range (1000,2001):
  if numero % 11 == 2:
    print(numero)

In [ ]:
for i in range(1,21):
  print(i)

print(list(range(1,21)))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]